TelerikSilverlightApp1/TelerikSilverlightApp1/Service References/ServiceReference2/MyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:59531/MyService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:59531/MyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59531/MyService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MyService_GetFilieresStats_InputMessage">
    <wsdl:part name="parameters" element="GetFilieresStats" />
  </wsdl:message>
  <wsdl:message name="MyService_GetFilieresStats_OutputMessage">
    <wsdl:part name="parameters" element="GetFilieresStatsResponse" />
  </wsdl:message>
  <wsdl:message name="MyService_GetAllStudents_InputMessage">
    <wsdl:part name="parameters" element="GetAllStudents" />
  </wsdl:message>
  <wsdl:message name="MyService_GetAllStudents_OutputMessage">
    <wsdl:part name="parameters" element="GetAllStudentsResponse" />
  </wsdl:message>
  <wsdl:portType name="MyService">
    <wsdl:operation name="GetFilieresStats">
      <wsdl:input wsaw:Action="urn:MyService/GetFilieresStats" message="MyService_GetFilieresStats_InputMessage" />
      <wsdl:output wsaw:Action="urn:MyService/GetFilieresStatsResponse" message="MyService_GetFilieresStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStudents">
      <wsdl:input wsaw:Action="urn:MyService/GetAllStudents" message="MyService_GetAllStudents_InputMessage" />
      <wsdl:output wsaw:Action="urn:MyService/GetAllStudentsResponse" message="MyService_GetAllStudents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>