TelerikSilverlightApp1/TelerikSilverlightApp1/Service References/ServiceReference3/MyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TelerikSilverlightApp1.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TelerikSilverlightApp1.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Etudiant">
    <xs:sequence>
      <xs:element minOccurs="0" name="Filiere1" nillable="true" type="tns:Filiere" />
      <xs:element minOccurs="0" name="cne" type="xs:int" />
      <xs:element minOccurs="0" name="date_naissance" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="filiere" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="note" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prenom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Etudiant" nillable="true" type="tns:Etudiant" />
  <xs:complexType name="Filiere">
    <xs:sequence>
      <xs:element minOccurs="0" name="Etudiants" nillable="true" type="tns:ArrayOfEtudiant" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nom_filiere" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responsable" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Filiere" nillable="true" type="tns:Filiere" />
  <xs:complexType name="ArrayOfEtudiant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Etudiant" nillable="true" type="tns:Etudiant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEtudiant" nillable="true" type="tns:ArrayOfEtudiant" />
  <xs:complexType name="ArrayOfFiliere">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Filiere" nillable="true" type="tns:Filiere" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFiliere" nillable="true" type="tns:ArrayOfFiliere" />
</xs:schema>